.card-job {
  margin: 5px 5px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  img {
    height: 90%;
  }
  h1 {
    padding: 20px;
  }
  span {
    color: #cddc39;
    font-weight: bold;
    padding: 20px;
  }
  span.skill {
    color: #f3f3f3;
    padding: 5px;
    font-size: 12px;
    border: 0.5px solid #f3f3f3;
    margin: 5px;
  }
  span.compensation {
    display: none;
    color: #27292d;
    text-shadow: 2px 2px 2px #cddc39;
  }
  border: 1px solid #cddc39;

  &:hover {
    background-color: #cddc39;
    h1 {
      color: #27292d;
    }
    span {
      color: #f3f3f3;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    }
    span.skill {
      display: none;
    }
    span.compensation {
      display: block;
      color: #27292d;
    }
  }
}
