header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  width: 100%;
  background-color: #27292d;
  //   color: #cddc39;
  color: #f3f3f3;
  height: 60px;
  padding: 0px 50px;
}
